.border {
  border: solid red 2px;
  background-color: black;
  border-radius: 5px;
  margin: 0 auto;
  weight: 400px;
  width: 400px;
}
.coluna1 {
  border: solid #e31b1b 2px;
  background-color: #8c1919;
  border-radius: 5px;
  margin: 0 auto;
  weight: 400px;
  width: 400px;
  font-family: Arial, Sans-serif;
  color: #e31b1b;
  font-size: 60px;
  font-height: Bold;
  
}
.coluna2 {
  border: solid #1e592e 2px;
  background-color: #3ac961;
  border-radius: 5px;
  margin: 0 auto;
  weight: 400px;
  width: 400px;
  font-family: Arial, Sans-serif;
  color: #1e592e;
  font-size: 60px;
  font-height: Bold;
  
}
.coluna3 {
  border: solid #d1e617 2px;
  background-color: #7a851b;
  border-radius: 5px;
  margin: 0 auto;
  weight: 400px;
  width: 400px;
  font-family: Arial, Sans-serif;
  color: #d1e617;
  font-size: 60px;
  font-height: Bold;
  
}
a {
  font-family: Arial, Sans-serif;
  color: White;
  font-size: 60px;
  font-height: Bold;
  
  



}
